/* Space out content a bit */
body {}

.container
{
  display: flex;
  width: 1050px;
}

.right_group
{
  width: 30px;
}

#handvalue
{
  width: 100px;
}
#book
{
  width: 100px;
}

.img_area
{
  position: relative;
}

/* かぶせ */
.video
{
  width: 100%;
  z-index: 1;
}
.superimpose,
#range,
#hand,
#bookarea,
#bookareaRight
{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

#range,
#hand
{
  z-index: 10;
}

/* 確認 */
.confirmation
{
  left: 0;
}
